* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4c88f2;
}

.wrapper {
    user-select: none;
}

.wrapper form {  
    background: #fff;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .09);
}

.form-label {
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #4c88f2;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
}

.form-control {
    padding: 6px 20px;
    margin: 0 0px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
}

.wrapper button {
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #fff;
    background: #4c88f2;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .09);
}

.text-center {
    margin: 0 5px;
    color: #4c88f2;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
}

.text-center a {
    opacity: 0.6;
}